	body #bianca {
		background-color: #FFDDCA;
		background-image: linear-gradient(to right,#000000,#A72116 ,#ffddca );
	}

	#card{
		width:360px ;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%)
	}